{% extends 'base.html' %}
{% block pagetitle %}
PlantGuard AI
{% endblock pagetitle %}
{% block body %}
<style>
  body{
    overflow-x: hidden;
  }
  @media only screen and (max-width: 830px) {
    .laptop{
      display: none;
    }
  }
  @media (min-width:830px) and (max-width: 1536px){
    .mobile{
      display: none;
    }
  }
</style>
<div class='mobile p-5'>
  <div class="row mb-5 text-center">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: black;"><b>Note✍🏻</b></h1>
      <p class="lead" style="font-weight: 500;color: black;">Please🙏 Open This Site On Laptop/PC 💻 Screen Only</p>
      <p class="lead" style="font-weight: 500;color: black;">Thank You 🤝</p>    
    </div>
</div>
</div>

<div class="row mb-5 text-center text-black laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: black;"><b>Guarding your crops with AI precision.</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">“Detect Plant Diseases Before They Spread — Powered by AI!”</p>
    </div>
</div>

<center class="laptop">
    <a href="/index">
    <button class = "bttn-pill bttn-lg btn-success"><b style="color: black;">AI Engine</b></button>
</a>
</center>
<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://t3.ftcdn.net/jpg/02/36/88/12/360_F_236881295_odo9H1vtTZUvewumPdeRE4tHUtVa2UJg.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Apple</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://media.istockphoto.com/id/157197337/photo/blueberries.jpg?s=612x612&w=0&k=20&c=wsaP1C6PPoIrlAPX-Zbi8uwmOUp08oVB02pY5kjf39U=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Blueberry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://media.istockphoto.com/id/172315512/photo/sweet-cherries.jpg?s=612x612&w=0&k=20&c=qz6b92ZkcMTH5XtZUMI7CW7CQPkYFo1qAWoHX48VQk4=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Cherry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://media.istockphoto.com/id/1485792634/photo/ripe-yellow-corn-cob-on-the-field.jpg?s=612x612&w=0&k=20&c=5Lhbh5a15DNMdyaxBPGR4XAIjTPXz1Ct52i2WcoVOQs=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Corn</p></center>
        </div>
    </div>
</div>

<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://media.istockphoto.com/id/184099853/photo/fresh-grapes.jpg?s=612x612&w=0&k=20&c=IxIcZ4M8c4-ksK4bvmtKUp03jaZwRMBcxplyZB-iZ0A=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Grape</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://media.istockphoto.com/id/477836156/photo/orange-fruit-isolated-on-white.jpg?s=612x612&w=0&k=20&c=NQYciPqF0kRqnDMx7Vy96Qhtx2c37OiKPXtjMR3Oy-Y=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Orange</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://media.istockphoto.com/id/1151868959/photo/single-whole-peach-fruit-with-leaf-and-slice-isolated-on-white.jpg?s=612x612&w=0&k=20&c=RLTbnKnN6w85oXn4qA8y8WYN3OMpGxEDc1nI7VY0gWU=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Peach</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://media.istockphoto.com/id/480931380/photo/bell-pepper.jpg?s=612x612&w=0&k=20&c=gzxuvBrlcGd9shtDT2rMyPoCQj9VzLv1SksaRSuNDCk=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Pepper Bell</p></center>
        </div>
    </div>
</div>


<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://media.istockphoto.com/id/610765164/photo/new-potato.jpg?s=612x612&w=0&k=20&c=bSfq7ykW8Ztp7uU5cBvuOIaHZMD_I1XeToLalhGQWMY=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Potato</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://media.istockphoto.com/id/486346030/photo/ripe-raspberry-with-leaf.jpg?s=612x612&w=0&k=20&c=OgHRHezySha7pn_a87B_i4DRvKMTk9JpPy4vGjaa4Kg=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Raspberry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://5.imimg.com/data5/ZR/AN/TA/SELLER-19153449/soybean-seeds.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Soybean</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://media.istockphoto.com/id/471688238/photo/butternut-squash.jpg?s=612x612&w=0&k=20&c=qei1WtUAY2x7YBMxPCTMHPXft8zagYpYzbAb-9s33_s=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Squash</p></center>
        </div>
    </div>
</div>

<center class="laptop">
<div class="row p-5">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 45%;height: 92%;">
          <img src="https://media.istockphoto.com/id/990320852/photo/strawberries-on-the-bush.jpg?s=612x612&w=0&k=20&c=SO95AGHhhENcC4d4mwOLN0BmqqcGPUCot0CF7WIu8MI=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Strawberry</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 45%;height: 92%;">

          <img src="https://media.istockphoto.com/id/847335116/photo/tomatoes-on-the-vine.jpg?s=612x612&w=0&k=20&c=XspM2ySvUfqjnt7HL5qKyn0tyRb5qLsf1GAP6-3xQsw=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Tomato</p></center>
        </div>
    </div>
</div>
</center>

{% endblock body %}
